.container-row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  
  .top-txt-row {
    background-color: rgba(0, 0, 0, 0.767);
    width: 100%;
  }
  
  .head-row {
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.945);
    padding: 1 0;
    font-size: 14px;
  }
  

  .spacing{
    letter-spacing: 7px;
    word-spacing: 5px;
    font-weight: bold;
  }