/* Global styles */
.heading {
    margin-top: 5rem;
    font-weight: 10rem;
}

.acc{
    font-size: 1.25rem;
}

.headingacc{
    text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
}

.hh{
    font-size: 4rem;
    font-weight: 50px;
}